:root{
    --color-cardinal: #BA1F33;
    --color-almost-black: #131313;
    --color-old-silver: #828282;
    --color-deep-taupe: #86615C;
    --color-fiery-rose: #F25A70;
    --color-mantis: #62C370;
    --color-sandstorm: #F5D547;
}